

	</div>
	<div class="text-muted" id="footer">
		<div class="container" style="overflow: hidden;">
			
		</div>
	</div>
</div>

<!--[if lt IE 9]>
<script>window.location = '../view/htm/browser.html';</script>
<![endif]-->

<script src="../view/js/jquery-3.1.0.js"></script>
<script src="../view/js/popper.js"></script>
<script src="../view/js/bootstrap.js"></script>
<script>var debug = DEBUG = <?php echo DEBUG; ?>;</script>
<script src="../view/js/xiuno.js"></script>

</div></body>
</html>